@model nooshop.Models.User

@{
    ViewData["Title"] = "Add new User";
    var errorMessage = TempData["ErrorMessage"] as string;
}

<body>
<div class="centered-container">
    <div class="form-container">
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger">@errorMessage</div>
        }
        <h2>Register</h2>
        <form method="post" asp-action="AddNewUser">
            <div class="form-group">
                <label asp-for="Username">Name</label>
                <input asp-for="Username" type="text" class="form-control" placeholder="Username "/>
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" type="text" class="form-control" placeholder="Password "/>
            </div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" type="text" class="form-control" placeholder="Email "/>
            </div>
            <div class="form-group">
                <label asp-for="UserID">User ID</label>
                <input asp-for="UserID" type="text" class="form-control" placeholder="User ID "/>
            </div>


            <button type="submit" class="btn btn-primary click-btn" style="padding-top: 15px; margin-top: 20px">Register</button>
        </form>
    </div>
</div>
</body>