@using nooshop.Controllers
@model nooshop.Views.User.UserPanelViewModel

@{
    ViewData["Title"] = "user panel";
}

<div class="centered-container">
    <div class="content">
        <h2 style="color: #1a1e21">حساب کاربری شما</h2>

        @* <div class="btn-container"> *@
        @*     <a href="@Url.Action("", "")" class="btn btn-pink blurred-btn"></a> *@
        @* </div> *@
        <div class="credit-text">Credit: @Model.Credit</div>
    </div>
</div>