@model List<SmartPhone>
@{
    ViewBag.Title = "All smartPhones";
}

<h2>ALL laptops will be here</h2>

<div class="container mt-4">
    <table class="table table-bordered table-responsive table-striped">
        <tr>
            <th>ID</th>
            <th>Brand</th>
            <th>Model</th>
        </tr>

        @foreach (var smartPhone in Model)
        {
            <tr>
                <td>@smartPhone.ProductID</td>
                <td>@smartPhone.Brand</td>
                <td>@smartPhone.Name</td>
            </tr>
        }
    </table>
</div>