@model IEnumerable<nooshop.Models.Laptop>

@{
    ViewBag.Title = "All laptops";
}

<h2>ALL laptops will be here</h2>

<div class="container mt-4">
    <table class="table table-bordered table-responsive green-table table-striped">
        <tr>
            <th>ID</th>
            <th>Brand</th>
            <th>Model</th>
        </tr>

        @foreach (var laptop in Model)
        {
            <tr>
                <td>@laptop.ProductID</td>
                <td>@laptop.Model</td>
                <td>@laptop.Name</td>
            </tr>
        }
    </table>
</div>